@tailwind base;
@tailwind components;
@tailwind utilities;

.active{
  @apply font-semibold tracking-wide text-green-500 transition-colors duration-200 text-2xl hover:text-lime-500
}

.default{
  @apply font-medium tracking-wide text-gray-700 transition-colors duration-200 text-2xl hover:text-transparent bg-clip-text bg-gradient-to-r from-emerald-500 to-lime-600
}

.custom-text-animation{
  @apply bg-gradient-to-r from-green-500 via-cyan-500 to-green-400 bg-clip-text text-transparent
}


.active_mobile{
  @apply font-medium tracking-wide text-gray-700 transition-colors duration-200  hover:text-transparent bg-clip-text bg-gradient-to-r from-purple-500 to-pink-600
}

.custom_container{
  @apply px-4 py-16 md:px-24 lg:px-8 lg:py-20 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl
}
.button{
  @apply bg-gradient-to-r from-indigo-400 to-purple-500 text-white font-bold h-[60px] w-[160px] rounded-lg lg:block cursor-pointer
}

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
